.faq {
  padding-top: 110px;
  padding-bottom: 90px;
  position: relative;
  z-index: 2;
  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &_items {
    gap: 20px;
    margin-top: 50px;
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }
  &_item {
    border-radius: 40px;
    border: 1px solid #6e44d9;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    padding: 26px 38px;
    cursor: pointer;
    @media (max-width: 768px) {
      padding: 26px 30px;
      border-radius: 30px;
    }
    .faq_item_title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      @media (max-width: 768px) {
        font-size: 19px;
      }
      span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
      }
    }
    .faq_item_text {
      display: none;
      padding-top: 16px;
    }
    .faq_arrow img {
      transition: transform 0.3s ease;
    }

    &.active .faq_arrow img {
      transform: rotate(45deg);
    }
  }
}
