.hero {
  background: #1a073f url("../images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 259px;
  .container {
    position: relative;
  }
  &_elipse_big {
    position: absolute;
    right: -150px;
    top: 0;
  }
  &_title {
    color: #fff;
    font-family: "Segoe UI";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    max-width: 967px;
  }
  &_tab_btns {
    gap: 9px;
    margin-top: 40px;
    .hero_tab_btn {
      border-radius: 9px 9px 0px 0px;
      background: #332656;
      box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.02) inset;
      color: #fff;
      padding: 13px 23px;
      gap: 12px;
      transition: all 0.2s linear;
      &.active {
        background: #6e44d9;
      }
      &:hover {
        background: #6e44d9;
      }
    }
  }
  &_tab_content {
    .tab_item {
      .button {
        transition: all 0.2s linear;
        &:hover {
          background: transparent;
          color: #6e44d9;
          border-color: #6e44d9;
        }
      }
      .tab_item_content {
        border-radius: 0px 20px 20px 20px;
        background: #fff;
        padding: 32px 40px;
        color: #0a2540;
      }
    }
  }
  &_elipse_small {
    position: absolute;
    bottom: 0;
    left: -182px;
  }
}
.tab_item_blocks{
    
}