.price {
  padding-top: 110px;
  position: relative;
  z-index: 2;
  @media (max-width: 1024px) {
    padding-top: 80px;
  }
  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.card_price {
    @media (max-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &_card {
    padding: 52px 40px 59px 40px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    text-align: center;
    max-width: 898px;
    margin: 0 auto;
    @media (max-width: 768px) {
      border-radius: 30px;
      padding: 24px 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 266px;
    }
    .price_text {
      font-size: 24px;
      margin-bottom: 29px;
      line-height: 45px;
      font-size: 40px;
      font-weight: 700;
      @media (max-width: 768px) {
        color: #fff;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 20px;
      }
      @media (max-width: 343px) {
        font-size: 24px;
      }
    }
    p {
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      @media (max-width: 768px) {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .bold_text {
      font-weight: 700;
    }

    .small_text {
      font-style: italic;
      margin-top: 28px;
      font-weight: 350;
    }
  }
  .stop {
    margin-top: 28px;
    gap: 13px;
  }
  .bg_opacity {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.06);
    display: flex;
    padding: 22px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 28px;
  }
}

.price_value {
  border-radius: 50px;
  background: radial-gradient(
    74.35% 74.35% at 75.62% 21.87%,
    #cf06f2 0%,
    #c705ef 5%,
    #8d02dc 50%,
    #6900d0 83%,
    #5c00cc 100%
  );
  padding: 5px 10px;
  color: #fff;
  color: #fff;
  font-family: "Segoe UI";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  h2 {
    @media (max-width: 556px) {
      font-size: 22px;
      text-align: left;
    }
  }
  &.big {
    padding: 23px 50px;
    display: inline-block;
    border-radius: 100px;
    @media (max-width: 556px) {
      padding: 23px 21px;
      border-radius: 35px;
    }
  }
  @media (max-width: 768px) {
    display: inline-block;
  }
  @media (max-width: 556px) {
    color: #fff;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
}
