.travel_insurance {
  padding-top: 110px;
  @media (max-width: 1024px) {
    padding-top: 80px;
  }
  @media (max-width: 768px) {
    padding-top: 60px;
  }
  .section_title {
    @media (max-width: 556px) {
      font-size: 28px;
    }
  }
  &_cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px 0;
    }

    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }
  &_card {
    display: flex;
    padding: 52px 40px 59px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 40px;
    border: 1px solid #6e44d9;
    backdrop-filter: blur(15px);
    width: calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: background 0.2s linear;
    @media (max-width: 1024px) {
      width: calc(33.33% - 14px);
      padding: 42px 34px 45px 34px;
    }
    @media (max-width: 768px) {
      width: calc(50% - 10px);
    }
    @media (max-width: 556px) {
      width: 100%;
      padding: 52px 40px 59px 40px;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
        74.35% 74.35% at 75.62% 21.87%,
        #cf06f2 0%,
        #c705ef 5%,
        #8d02dc 50%,
        #6900d0 83%,
        #5c00cc 100%
      );
      opacity: 0;
      transition: opacity 0.4s linear;
      z-index: 0;
    }
    &:hover::before {
      opacity: 1;
    }
    * {
      position: relative;
      z-index: 1;
    }
    &_number {
      width: 100px;
      height: 100px;
      background: radial-gradient(
        74.35% 74.35% at 75.62% 21.87%,
        #cf06f2 0%,
        #c705ef 5%,
        #8d02dc 50%,
        #6900d0 83%,
        #5c00cc 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      font-family: "Segoe UI";
      font-size: 43px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
    &_title {
      color: #fff;
      text-align: center;
      font-family: "Segoe UI";
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      @media (max-width: 556px) {
        font-size: 24px;
      }
    }
    p {
      color: #fff;
      text-align: center;
      font-family: "Segoe UI";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      padding-top: 18px;
      @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: 556px) {
        font-size: 19px;
      }
    }
  }
  &_button {
    margin-top: 50px;
    @media (max-width: 556px) {
      margin-top: 30px;
    }
  }
}
.travel_insurance_cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  align-items: center;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }
}
.travel_insurance_card {
  display: flex;
  padding: 52px 40px 59px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  border-radius: 40px;
  border: 1px solid #6e44d9;
  backdrop-filter: blur(15px);
  width: calc(33.33% - 20px);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: background 0.2s linear;
  @media (max-width: 1024px) {
    width: calc(33.33% - 14px);
    padding: 42px 34px 45px 34px;
  }
  @media (max-width: 768px) {
    width: calc(50% - 10px);
  }
  @media (max-width: 556px) {
    width: 100%;
    padding: 52px 40px 59px 40px;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      74.35% 74.35% at 75.62% 21.87%,
      #cf06f2 0%,
      #c705ef 5%,
      #8d02dc 50%,
      #6900d0 83%,
      #5c00cc 100%
    );
    opacity: 0;
    transition: opacity 0.4s linear;
    z-index: 0;
  }
  &:hover::before {
    opacity: 1;
  }
  * {
    position: relative;
    z-index: 1;
  }
  &_number {
    width: 100px;
    height: 100px;
    background: radial-gradient(
      74.35% 74.35% at 75.62% 21.87%,
      #cf06f2 0%,
      #c705ef 5%,
      #8d02dc 50%,
      #6900d0 83%,
      #5c00cc 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  &_title {
    color: #fff;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    @media (max-width: 556px) {
      font-size: 24px;
    }
  }
  p {
    color: #fff;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    padding-top: 18px;
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
    @media (max-width: 556px) {
      font-size: 19px;
    }
  }
}
