@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_Boldi.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_italic.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_UI.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 24px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 12;
}
.header .container {
  gap: 24px 0;
}
.header_top_left {
  gap: 45px;
}
.header_top_left .lcation {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.header_top_left .lcation img {
  line-height: 0;
}
.header_top_right {
  gap: 40px;
}
.header_top_menu {
  gap: 33px;
}
.header_top_menu a {
  color: #fff;
  transition: all 0.2s linear;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.header_top_menu a:hover {
  color: #6e44d9;
}
.header .buttonlist {
  gap: 14px;
}
.header_bottom {
  gap: 14px;
}
@media (max-width: 1099px) {
  .header_bottom {
    flex-direction: column;
  }
}
.header_bottom ul {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(30px);
  gap: 19px;
  display: flex;
  padding: 22px 30px;
  align-items: center;
  gap: 19px;
  flex: 1 0 0;
}
@media (max-width: 1200px) {
  .header_bottom ul {
    gap: 10px;
    padding: 22px 20px;
  }
}
.header_bottom ul a {
  display: block;
  color: #fff;
  padding-right: 19px;
  border-right: 1px solid rgba(255, 255, 255, 0.27);
  transition: all 0.2s linear;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .header_bottom ul a {
    padding-right: 10px;
  }
}
.header_bottom ul a:hover {
  color: #6e44d9;
}
.header_bottom ul li:last-child a {
  border: none;
  padding-right: 0;
}
.header_bottom .button {
  align-items: center;
}

.hero {
  background: #1a073f url("../images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 259px;
}
.hero .star_right {
  position: absolute;
  right: 10%;
  top: 29%;
}
.hero .shadow {
  position: absolute;
  top: -70%;
  left: -50%;
}
.hero .container {
  position: relative;
}
.hero_elipse_big {
  position: absolute;
  right: -150px;
  top: -150px;
}
.hero_title {
  color: #fff;
  font-family: "Segoe UI";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  max-width: 967px;
}
.hero_tab_btns {
  gap: 9px;
  margin-top: 40px;
  position: relative;
  z-index: 22;
}
.hero_tab_btns .hero_tab_btn {
  border-radius: 9px 9px 0px 0px;
  background: #332656;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.02) inset;
  color: #fff;
  padding: 13px 23px;
  gap: 12px;
  transition: all 0.2s linear;
}
@media (max-width: 1200px) {
  .hero_tab_btns .hero_tab_btn {
    padding: 13px 15px;
    gap: 8px;
  }
}
.hero_tab_btns .hero_tab_btn.active {
  background: #6e44d9;
}
.hero_tab_btns .hero_tab_btn:hover {
  background: #6e44d9;
}
.hero_tab_content {
  position: relative;
}
.hero_tab_content .hand_img {
  position: absolute;
  right: -32%;
  top: -190%;
  z-index: 2;
}
.hero_tab_content .tab_item .button {
  transition: all 0.2s linear;
  position: relative;
  z-index: 2;
  transition: all 0.2s linear;
  flex: 0 0 auto;
}
.hero_tab_content .tab_item .button:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}
.hero_tab_content .tab_item .tab_item_content {
  border-radius: 0px 20px 20px 20px;
  background: #fff;
  padding: 32px 40px;
  color: #0a2540;
}
.hero_tab_content .tab_item img {
  max-width: 30%;
  object-fit: contain;
}
.hero_elipse_small {
  position: absolute;
  bottom: 0;
  left: -182px;
}
.hero_elipse_small.img2 {
  left: -15%;
  bottom: 37%;
}
.hero_tab {
  position: relative;
  z-index: 22;
}

.blocks {
  padding: 110px 0 90px;
  position: relative;
}
.blocks_shadow {
  position: absolute;
  right: 0;
  top: -400px;
}

.tab_item_blocks {
  gap: 40px 0;
}
.tab_item_blocks .tab_item_block {
  width: calc(50% - 20px);
  padding: 52px 40px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  gap: 32px;
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block {
    padding: 32px 20px;
    gap: 20px;
  }
}
.tab_item_blocks .tab_item_block_img {
  position: relative;
  width: 206px;
  height: 206px;
  overflow: hidden;
  border-radius: 50%;
  flex: 0 0 auto;
  background: #6e44d9;
}
@media (max-width: 1300px) {
  .tab_item_blocks .tab_item_block_img {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block_img {
    width: 130px;
    height: 130px;
  }
}
.tab_item_blocks .tab_item_block_img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.tab_item_blocks .tab_item_block_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background: radial-gradient(74.35% 74.35% at 23.41% 22.78%, rgba(207, 6, 242, 0.36) 0%, rgba(199, 5, 239, 0.36) 5%, rgba(141, 2, 220, 0.36) 50%, rgba(105, 0, 208, 0.36) 83%, rgba(92, 0, 204, 0.36) 100%);
  filter: blur(40px);
}
.tab_item_blocks .tab_item_block:nth-child(3), .tab_item_blocks .tab_item_block:nth-child(4) {
  width: 100%;
  justify-content: center;
}
.tab_item_blocks .tab_item_block:nth-child(3) .tab_item_block_content, .tab_item_blocks .tab_item_block:nth-child(4) .tab_item_block_content {
  height: fit-content;
}
.tab_item_blocks .tab_item_block:nth-child(3) .tab_item_block_title, .tab_item_blocks .tab_item_block:nth-child(4) .tab_item_block_title {
  font-size: 40px;
}
.tab_item_blocks .tab_item_block:nth-child(3) p, .tab_item_blocks .tab_item_block:nth-child(4) p {
  max-width: 720px;
  padding-top: 30px;
}
.tab_item_blocks .tab_item_block_title {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block_title {
    font-size: 28px;
  }
}
.tab_item_blocks .tab_item_block .tab_item_block_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px 0;
  height: 100%;
}
.tab_item_blocks .tab_item_block_lists {
  gap: 11px;
  margin-top: 30px;
}
.tab_item_blocks .tab_item_block_lists li {
  display: flex;
  align-items: center;
  gap: 9px;
  line-height: 21px;
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block_lists li {
    gap: 5px;
    font-size: 15px;
  }
}
.tab_item_blocks .tab_item_block_lists li .dot {
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  background: #6e44d9;
  border-radius: 50%;
}
.tab_item_blocks .tab_item_block .buttons {
  margin-top: auto;
  margin-bottom: 0;
  gap: 10px 14px;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.462745098);
  z-index: 100;
  display: none;
}
.modal_content {
  padding: 50px 52px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  inset: 0;
  margin: auto;
  max-width: 677px;
  height: fit-content;
}
.modal_content .modal_exit {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  user-select: none;
  color: #0a2540;
  align-items: center;
  justify-content: center;
  font-size: 39px;
  line-height: 0;
  text-align: center;
  font-weight: 300;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 70px;
  border: 1px solid #0a2540;
}
.modal_content .modal_exit span {
  position: relative;
  top: -4px;
}
.modal_content .modal_exit:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
  border-color: #fff;
}
.modal_title {
  color: #0a2540;
  font-family: "Segoe UI";
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  border-bottom: 1px dotted #eee;
  padding-bottom: 21px;
}
.modal_title::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 114.906px;
  height: 4px;
  background: #6e44d9;
  bottom: 0px;
  left: 0;
  display: block;
  clip-path: polygon(0 0, 100% 0, 90.5% 100%, 0% 100%);
}
.modal_tab_btns {
  padding: 21px 0;
  justify-content: space-between;
  gap: 7px;
  border-bottom: 1px dotted #eee;
}
.modal_tab_btns a {
  display: flex;
  width: 53px;
  height: 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #a3a3a3;
  color: #a3a3a3;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease;
}
.modal_tab_btns a.active {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
}
.modal_tab_btns a:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
}
.modal_links {
  gap: 51px;
  padding-top: 27px;
}
.modal_links ul {
  gap: 26px;
}
.modal_links ul a {
  color: #0a2540;
  font-family: "Segoe UI";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid transparent;
}
.modal_links ul a:hover {
  border-color: #0a2540;
}

body {
  color: #fff;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background: #1a073f;
}

.wrapper {
  overflow: hidden;
  background: url("../images/block_bg.png") no-repeat center;
  background-size: cover;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  cursor: pointer;
  display: flex;
  padding: 13px 29px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: all 0.2s linear;
}
.button:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}
.button.light {
  background: #fff;
  color: #6e44d9;
  transition: all 0.2s linear;
}
.button.light:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
}
.button.light:hover svg path {
  fill: #fff;
}
.button.blue {
  border-radius: 10px;
  background: #6e44d9;
  color: #fff;
  border-color: transparent;
}
.button.blue:hover {
  border-color: transparent;
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}

.footer {
  padding-bottom: 90px;
}
@media (max-width: 1091px) {
  .footer .container {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}
.footer .container .footer_menu {
  gap: 14px;
}
@media (max-width: 1091px) {
  .footer .container .footer_menu {
    width: 100%;
  }
}
.footer ul {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(30px);
  gap: 19px;
  display: flex;
  padding: 22px 30px;
  align-items: center;
  gap: 19px;
  flex: 1 0 0;
}
@media (max-width: 1345px) {
  .footer ul {
    gap: 8px;
  }
}
@media (max-width: 1150px) {
  .footer ul {
    padding: 22px 20px;
  }
}
.footer ul a {
  display: block;
  color: #fff;
  padding-right: 19px;
  border-right: 1px solid rgba(255, 255, 255, 0.27);
  transition: all 0.2s linear;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1345px) {
  .footer ul a {
    padding-right: 8px;
    font-size: 15px;
  }
}
@media (max-width: 1150px) {
  .footer ul a {
    font-size: 14px;
  }
}
.footer ul a:hover {
  color: #6e44d9;
}
.footer ul li:last-child a {
  border: none;
  padding-right: 0;
}/*# sourceMappingURL=style.css.map */