@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_Boldi.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_italic.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe_UI/Segoe_UI.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 24px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
@media (max-width: 650px) {
  .header {
    padding-bottom: 0;
    padding-top: 13px !important;
  }
}
.header.active {
  background: #1a073f;
  padding: 8px 0;
}
.header.active .container {
  gap: 8px;
}
@media (max-width: 992px) {
  .header {
    padding: 12px 0;
  }
}
@media (max-width: 992px) {
  .header_logo img {
    width: 160px;
  }
}
.header .container {
  gap: 24px 0;
  transition: all 0.2s linear;
}
@media (max-width: 992px) {
  .header .container {
    gap: 12px 0;
  }
}
@media (max-width: 650px) {
  .header_top {
    flex-direction: column-reverse;
    gap: 13px;
  }
}
.header_top_left {
  gap: 45px;
}
@media (max-width: 992px) {
  .header_top_left {
    gap: 24px;
  }
}
@media (max-width: 650px) {
  .header_top_left {
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.33);
    padding-bottom: 14px;
    padding-top: 14px;
  }
}
.header_top_left .lcation {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.header_top_left .lcation img {
  line-height: 0;
}
.header_top_right {
  gap: 40px;
}
@media (max-width: 992px) {
  .header_top_right {
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .header_top_right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header_top_right .button {
    padding: 8px 29px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .header_top_right .button span {
    flex: 0 0 auto;
  }
}
.header_top_menu {
  gap: 33px;
}
@media (max-width: 992px) {
  .header_top_menu {
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .header_top_menu {
    display: none !important;
  }
}
.header_top_menu a {
  color: #fff;
  transition: all 0.2s linear;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.header_top_menu a:hover {
  color: rgba(255, 255, 255, 0.6980392157);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6980392157);
  padding-bottom: 3px;
}
.header .hamburger {
  position: relative;
  display: none;
  transition: all 0.2s linear;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    border-radius: 10px;
    background: #6e44d9;
    justify-content: center;
    gap: 4.5px;
    align-items: center;
  }
}
.header .hamburger span {
  display: block;
  width: 20px;
  height: 1.5px;
  background: #fff;
  flex: 0 0 auto;
  transition: all 0.2s linear;
}
.header .hamburger.active {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}
.header .hamburger.active span {
  position: absolute;
  inset: 0;
  margin: auto;
}
.header .hamburger.active span:last-child {
  transform: rotate(45deg);
}
.header .hamburger.active span:first-child {
  transform: rotate(-45deg);
}
.header .hamburger.active span:nth-child(2) {
  display: none;
}
.header .hamburger:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}
.header .buttonlist {
  gap: 14px;
}
@media (max-width: 650px) {
  .header .buttonlist {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header .buttonlist .button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header .buttonlist .button.light {
    padding: 8px 18px;
  }
}
.header_bottom {
  gap: 14px;
}
@media (max-width: 1099px) {
  .header_bottom {
    flex-direction: column;
  }
}
.header_bottom ul {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(30px);
  gap: 19px;
  display: flex;
  padding: 22px 30px;
  align-items: center;
  gap: 19px;
  flex: 1 0 0;
}
@media (max-width: 1200px) {
  .header_bottom ul {
    gap: 10px;
    padding: 22px 20px;
  }
}
@media (max-width: 992px) {
  .header_bottom ul {
    flex-wrap: wrap;
    padding: 12px 16px;
  }
}
@media (max-width: 992px) {
  .header_bottom ul li {
    width: calc(33.33% - 10px);
  }
}
.header_bottom ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.27);
}
.header_bottom ul a {
  display: block;
  color: #fff;
  margin-right: 19px;
  transition: all 0.2s linear;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
}
@media (max-width: 1200px) {
  .header_bottom ul a {
    margin-right: 10px;
  }
}
.header_bottom ul a:hover {
  color: rgba(255, 255, 255, 0.6980392157);
  border-color: rgba(255, 255, 255, 0.6980392157);
}
.header_bottom ul li:last-child {
  border-right: none;
}
.header_bottom ul li:last-child a {
  padding-right: 0;
}
.header_bottom .button {
  align-items: center;
}
.header_menu_responsive {
  transition: all 0.3s linear;
}
.header_menu_responsive::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .header_menu_responsive {
    position: fixed;
    padding: 40px 23px;
    top: -200%;
    left: 0;
    height: calc(100vh - 66px);
    background: url("../images/menu_bg.png") no-repeat center/cover, 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    overflow-y: auto;
  }
}
.header_menu_responsive.active {
  z-index: 99;
  opacity: 1;
}
@media (max-width: 768px) {
  .header_menu_responsive.active {
    top: 66px;
  }
}
@media (max-width: 768px) {
  .header_menu_responsive .header_bottom {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .header_menu_responsive .header_bottom ul {
    flex-direction: column;
    gap: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    backdrop-filter: blur(0);
  }
}
@media (max-width: 768px) {
  .header_menu_responsive .header_bottom ul li {
    width: 100%;
    border: 0;
  }
}
@media (max-width: 768px) {
  .header_menu_responsive .header_bottom ul li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.27);
    padding: 19px 0;
  }
}
@media (max-width: 768px) {
  .header_menu_responsive .header_bottom ul a {
    width: fit-content;
  }
  .header_menu_responsive .header_bottom ul a:hover {
    color: #fff;
    opacity: 0.9;
  }
}
@media (max-width: 768px) {
  .header_menu_responsive .button {
    width: 100%;
  }
}
.header_menu_responsive .site_link {
  display: none;
}
@media (max-width: 768px) {
  .header_menu_responsive .site_link {
    display: block;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    padding-bottom: 18px;
  }
}

.hero {
  background: #1a073f url("../images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 259px;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 180px;
  }
}
.hero .star_right {
  position: absolute;
  right: 10%;
  top: 29%;
}
@media (max-width: 768px) {
  .hero .star_right {
    width: 76px;
    top: 22%;
    right: 22%;
  }
}
.hero .shadow {
  position: absolute;
  top: -70%;
  left: -50%;
  max-width: 100%;
}
.hero .container {
  position: relative;
}
.hero_elipse_big {
  position: absolute;
  right: -150px;
  top: -150px;
}
@media (max-width: 768px) {
  .hero_elipse_big {
    width: 46px;
    right: 24px;
    top: 0;
  }
}
.hero_title {
  color: #fff;
  font-family: "Segoe UI";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  max-width: 967px;
}
@media (max-width: 992px) {
  .hero_title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  .hero_title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
}
.hero_tab_btns {
  gap: 9px;
  margin-top: 40px;
  position: relative;
  z-index: 22;
}
.hero_tab_btns::-webkit-scrollbar {
  display: none;
}
@media (max-width: 992px) {
  .hero_tab_btns {
    overflow-x: auto;
    width: calc(100% + 30px);
    padding-right: 30px;
  }
}
.hero_tab_btns .hero_tab_btn {
  border-radius: 9px 9px 0px 0px;
  background: #332656;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.02) inset;
  color: #fff;
  padding: 13px 23px;
  gap: 12px;
  transition: all 0.2s linear;
}
@media (max-width: 1200px) {
  .hero_tab_btns .hero_tab_btn {
    padding: 13px 15px;
    gap: 8px;
  }
}
@media (max-width: 992px) {
  .hero_tab_btns .hero_tab_btn {
    flex: 0 0 auto;
  }
}
@media (max-width: 768px) {
  .hero_tab_btns .hero_tab_btn {
    padding: 11px 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}
@media (max-width: 1200px) {
  .hero_tab_btns .hero_tab_btn br {
    display: none;
  }
}
@media (max-width: 992px) {
  .hero_tab_btns .hero_tab_btn br {
    display: inline-block;
  }
}
.hero_tab_btns .hero_tab_btn.active {
  background: #6e44d9;
}
.hero_tab_btns .hero_tab_btn:hover {
  background: #6e44d9;
}
.hero_tab_content {
  position: relative;
}
.hero_tab_content .hand_img {
  position: absolute;
  right: -32%;
  top: -190%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .hero_tab_content .hand_img {
    width: 356px;
    top: -130%;
  }
}
@media (max-width: 992px) {
  .hero_tab_content .hand_img {
    display: none;
  }
}
.hero_tab_content .tab_item .button {
  transition: all 0.2s linear;
  position: relative;
  z-index: 2;
  transition: all 0.2s linear;
  flex: 0 0 auto;
}
.hero_tab_content .tab_item .button:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}
.hero_tab_content .tab_item .tab_item_content {
  border-radius: 0px 20px 20px 20px;
  background: #fff;
  padding: 32px 40px;
  color: #0a2540;
}
@media (max-width: 992px) {
  .hero_tab_content .tab_item .tab_item_content {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .hero_tab_content .tab_item .tab_item_content {
    padding: 28px;
    border-radius: 0px 0px 20px 20px;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
  }
}
@media (max-width: 556px) {
  .hero_tab_content .tab_item .tab_item_content {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .hero_tab_content .tab_item .tab_item_content .tab_item_title {
    font-size: 21px;
  }
}
.hero_tab_content .tab_item img {
  max-width: 30%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .hero_tab_content .tab_item img {
    display: none;
  }
}
.hero_elipse_small {
  position: absolute;
  bottom: 0;
  left: -182px;
}
.hero_elipse_small.img2 {
  left: -15%;
  bottom: 37%;
}
.hero_tab {
  position: relative;
  z-index: 22;
}

.blocks {
  padding: 110px 0 90px;
  position: relative;
}
@media (max-width: 768px) {
  .blocks {
    padding: 60px 0;
  }
}
.blocks_shadow {
  position: absolute;
  right: 0;
  top: -400px;
}

.tab_item_blocks {
  gap: 40px 0;
}
@media (max-width: 768px) {
  .tab_item_blocks {
    gap: 20px;
  }
}
.tab_item_blocks .tab_item_block {
  width: calc(50% - 20px);
  padding: 52px 40px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  gap: 32px;
}
.tab_item_blocks .tab_item_block:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  transition: all 0.2s linear;
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block {
    padding: 32px 20px;
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .tab_item_blocks .tab_item_block {
    width: calc(50% - 10px);
  }
}
@media (max-width: 992px) {
  .tab_item_blocks .tab_item_block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block {
    flex-direction: column;
    border-radius: 30px;
    padding: 30px 40px;
    gap: 30px;
  }
  .tab_item_blocks .tab_item_block img {
    order: -1;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block {
    padding: 30px 20px;
  }
}
.tab_item_blocks .tab_item_block_img {
  position: relative;
  width: 206px;
  height: 206px;
  overflow: hidden;
  border-radius: 50%;
  flex: 0 0 auto;
  background: #6e44d9;
  box-shadow: 0 0 73px #7c4bff;
}
@media (max-width: 1300px) {
  .tab_item_blocks .tab_item_block_img {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block_img {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block_img {
    width: 140px;
    height: 140px;
  }
}
.tab_item_blocks .tab_item_block_img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.tab_item_blocks .tab_item_block_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background: radial-gradient(74.35% 74.35% at 23.41% 22.78%, rgba(207, 6, 242, 0.36) 0%, rgba(199, 5, 239, 0.36) 5%, rgba(141, 2, 220, 0.36) 50%, rgba(105, 0, 208, 0.36) 83%, rgba(92, 0, 204, 0.36) 100%);
  filter: blur(40px);
}
.tab_item_blocks .tab_item_block:nth-child(3), .tab_item_blocks .tab_item_block:nth-child(4) {
  width: 100%;
  justify-content: center;
}
.tab_item_blocks .tab_item_block:nth-child(3) .tab_item_block_content, .tab_item_blocks .tab_item_block:nth-child(4) .tab_item_block_content {
  height: fit-content;
}
.tab_item_blocks .tab_item_block:nth-child(3) .tab_item_block_title, .tab_item_blocks .tab_item_block:nth-child(4) .tab_item_block_title {
  font-size: 40px;
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block:nth-child(3) .tab_item_block_title, .tab_item_blocks .tab_item_block:nth-child(4) .tab_item_block_title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
}
.tab_item_blocks .tab_item_block:nth-child(3) p, .tab_item_blocks .tab_item_block:nth-child(4) p {
  max-width: 720px;
  padding-top: 30px;
}
.tab_item_blocks .tab_item_block_title {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block_title {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
  }
}
.tab_item_blocks .tab_item_block .tab_item_block_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px 0;
  height: 100%;
}
.tab_item_blocks .tab_item_block_lists {
  gap: 11px;
  margin-top: 30px;
}
.tab_item_blocks .tab_item_block_lists li {
  display: flex;
  align-items: center;
  gap: 9px;
  line-height: 21px;
}
@media (max-width: 1200px) {
  .tab_item_blocks .tab_item_block_lists li {
    gap: 5px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block_lists li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
}
.tab_item_blocks .tab_item_block_lists li .dot {
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  background: #6e44d9;
  border-radius: 50%;
}
.tab_item_blocks .tab_item_block .buttons {
  margin-top: auto;
  margin-bottom: 0;
  gap: 10px 14px;
}
@media (max-width: 1024px) {
  .tab_item_blocks .tab_item_block .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block .buttons {
    gap: 14px;
  }
}
@media (max-width: 1024px) {
  .tab_item_blocks .tab_item_block .buttons .button {
    padding: 12px 20px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .tab_item_blocks .tab_item_block .buttons .button.light {
    width: fit-content;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px !important;
  }
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.462745098);
  z-index: 100;
  display: none;
}
@media (max-width: 768px) {
  .modal {
    padding: 0 15px;
  }
}
.modal_content {
  padding: 50px 52px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  inset: 0;
  margin: auto;
  max-width: 677px;
  height: fit-content;
}
@media (max-width: 768px) {
  .modal_content {
    width: calc(100% - 30px);
    max-height: 100vh;
    overflow: auto;
  }
  .modal_content::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 650px) {
  .modal_content {
    padding: 34px 30px;
  }
}
.modal_content .modal_exit {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  user-select: none;
  color: #0a2540;
  align-items: center;
  justify-content: center;
  font-size: 39px;
  line-height: 0;
  text-align: center;
  font-weight: 300;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 70px;
  border: 1px solid #0a2540;
  z-index: 121;
}
.modal_content .modal_exit span {
  position: relative;
  top: -4px;
}
.modal_content .modal_exit:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
  border-color: #fff;
}
.modal_title {
  color: #0a2540;
  font-family: "Segoe UI";
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  border-bottom: 1px dotted #eee;
  padding-bottom: 21px;
}
@media (max-width: 650px) {
  .modal_title {
    font-size: 34px;
  }
}
.modal_title::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 114.906px;
  height: 4px;
  background: #6e44d9;
  bottom: 0px;
  left: 0;
  display: block;
  clip-path: polygon(0 0, 100% 0, 90.5% 100%, 0% 100%);
}
.modal_tab_btns {
  padding: 21px 0;
  justify-content: space-between;
  gap: 7px;
  border-bottom: 1px dotted #eee;
}
@media (max-width: 768px) {
  .modal_tab_btns {
    justify-content: flex-start;
  }
}
.modal_tab_btns a {
  display: flex;
  width: 53px;
  height: 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #a3a3a3;
  color: #a3a3a3;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .modal_tab_btns a {
    width: 50px;
  }
}
.modal_tab_btns a.active {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
}
.modal_tab_btns a:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
}
.modal_links {
  gap: 51px;
  padding-top: 27px;
}
.modal_links ul {
  gap: 26px;
}
.modal_links ul a {
  color: #0a2540;
  font-family: "Segoe UI";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid transparent;
}
.modal_links ul a:hover {
  border-color: #0a2540;
}

body {
  color: #fff;
  font-family: "Segoe UI" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background: #1a073f;
  transition: all 0.2s linear;
}
body.hidden {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  background: url("../images/block_bg.png") no-repeat center;
  background-size: cover;
}
@media (max-width: 556px) {
  .wrapper {
    background: url("../images/mobile_bg.png") no-repeat center;
    background-size: cover;
  }
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  cursor: pointer;
  display: flex;
  padding: 13px 29px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: all 0.2s linear;
}
.button:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}
.button.light {
  background: #fff;
  color: #6e44d9;
  transition: all 0.2s linear;
}
.button.light:hover {
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
  color: #fff;
}
.button.light:hover svg path {
  fill: #fff;
}
.button.blue {
  border-radius: 10px;
  background: #6e44d9;
  color: #fff;
  border-color: transparent;
}
.button.blue:hover {
  border-color: transparent;
  background: radial-gradient(74.35% 74.35% at 75.62% 21.87%, #cf06f2 0%, #c705ef 5%, #8d02dc 50%, #6900d0 83%, #5c00cc 100%);
}

.footer {
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
}
@media (max-width: 1091px) {
  .footer .container {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}
@media (max-width: 768px) {
  .footer .container {
    gap: 21px;
  }
}
.footer .container .footer_menu {
  gap: 14px;
}
@media (max-width: 1091px) {
  .footer .container .footer_menu {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .footer .container .footer_menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer .container .footer_menu {
    flex-direction: column-reverse;
    gap: 21px 0;
  }
}
@media (max-width: 768px) {
  .footer .container .logo img {
    width: 181px;
  }
}
.footer ul {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(30px);
  gap: 19px;
  display: flex;
  padding: 22px 30px;
  align-items: center;
  gap: 19px;
  flex: 1 0 0;
}
@media (max-width: 1345px) {
  .footer ul {
    gap: 8px;
  }
}
@media (max-width: 1150px) {
  .footer ul {
    padding: 22px 20px;
  }
}
@media (max-width: 992px) {
  .footer ul {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media (max-width: 768px) {
  .footer ul {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(30px);
  }
}
.footer ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.27);
}
@media (max-width: 768px) {
  .footer ul li {
    padding: 19px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.27);
    transition: all 0.2s linear;
    border-right: 0;
  }
}
.footer ul li:last-child {
  border: 0;
}
.footer ul a {
  display: block;
  color: #fff;
  margin-right: 19px;
  transition: all 0.2s linear;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 1345px) {
  .footer ul a {
    margin-right: 8px;
    font-size: 15px;
  }
}
@media (max-width: 1150px) {
  .footer ul a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer ul a {
    padding-left: 0;
    border: 0;
  }
}
.footer ul a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  .footer ul li {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer ul li:first-child a {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .footer ul li:last-child a {
    padding-bottom: 0;
  }
}
.footer ul li:last-child a {
  border: none;
  padding-right: 0;
}
@media (max-width: 768px) {
  .footer .button {
    width: 100%;
  }
}

#solid_widget * {
  font-family: "Roboto", sans-serif !important;
}

.form_solid {
  padding: 0 !important;
}

#solid_widget {
  font-family: "Segoe UI" !important;
}/*# sourceMappingURL=style.css.map */